{% load al_uloum i18n static wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html
  lang="{{ LANGUAGE_CODE }}"
  dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
  data-theme="{% block theme %}luxury{% endblock %}"
>
  {% get_site_root as home %}
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% trans 'Al Uloum' %} | {% include "al_uloum/components/title.html" %}
    </title>

    <!---->
    {% block styles %}
    <link
      href="{% static 'wagtail_blocks/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'al_uloum/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    {% endblock %}
    <!---->

    {% endblock %}
  </head>

  <body class="antialiased">
    {% wagtailuserbar %}

    <div class="drawer lg:drawer-open">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />

      <section id="content" class="drawer-content">
        <div
          id="main"
          class="bg-base-300 relative h-dvh overflow-hidden sm:p-1 lg:p-2"
        >
          <div class="flex size-full items-center gap-1">
            <section
              class="bg-base-100 relative size-full grow overflow-hidden sm:rounded-box"
            >
              <section class="size-full grid gap-4 overflow-y-auto">
                <!-- Navbar -->
                {% block navbar %}
                <header
                  class="absolute inset-x-0 top-0 z-40 backdrop-blur-3xl"
                >
                  <nav class="navbar p-4">
                    <ol class="navbar-start gap-4">
                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary z-10 lg:hidden"
                        data-tip="{% trans 'Open drawer' %}"
                      >
                        <label
                          for="nav-drawer"
                          aria-label="{% trans 'close sidebar' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="menu" class="size-4 md:size-6"></i>
                          <span class="sr-only">
                            {% trans 'Open drawer' %}
                          </span>
                        </label>
                      </li>

                      {% block branding %}
                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary lg:hidden"
                        data-tip="{% trans 'Arabic Linguistics' %}"
                      >
                        <h1 class="relative">
                          <a
                            href="{% pageurl home %}"
                            class="btn btn-lg btn-square btn-primary lg:btn-xl"
                          >
                            <div
                              class="btn btn-lg btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-xl"
                            >
                              <span
                                class="-rotate-45 text-sm font-black lg:text-base"
                              >
                                ٱلْعُلُوٓمْ
                              </span>
                            </div>
                            <span class="sr-only">
                              {% trans 'Linguistics of the Arabic language' %}
                            </span>
                          </a>
                        </h1>
                      </li>
                      {% endblock %}
                    </ol>

                    <ol class="navbar-center gap-2">
                      {% block navbar_center %}{% endblock %}
                    </ol>

                    <ol class="navbar-end gap-2">
                      {% block navbar_end %}
                      <li
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                        data-tip="{% trans 'Search' %}"
                      >
                        <a
                          href="{% url 'al_uloum:search' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="search" class="size-4 md:size-6"></i>
                          <span class="sr-only">{% trans 'Search' %}</span>
                        </a>
                      </li>
                      <li
                        class="hidden tooltip tooltip-left tooltip-primary dark:inline-block rtl:tooltip-right"
                        data-tip="{% trans 'Toggle theme' %}"
                      >
                        <label
                          class="swap swap-rotate btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <input
                            type="checkbox"
                            class="theme-controller"
                            value="luxurylight"
                          />
                          <i
                            data-lucide="sun"
                            class="swap-off size-4 lg:size-6"
                          ></i>
                          <i
                            data-lucide="moon-star"
                            class="swap-on size-4 lg:size-6"
                          ></i>
                        </label>
                      </li>
                      <li
                        class="tooltip tooltip-left tooltip-primary dark:hidden rtl:tooltip-right"
                        data-tip="{% trans 'Toggle theme' %}"
                      >
                        <label
                          class="swap swap-rotate btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <input
                            type="checkbox"
                            class="theme-controller"
                            value="luxury"
                          />
                          <i
                            data-lucide="moon-star"
                            class="swap-off size-4 lg:size-6"
                          ></i>
                          <i
                            data-lucide="sun"
                            class="swap-on size-4 lg:size-6"
                          ></i>
                        </label>
                      </li>
                      {% endblock %}
                    </ol>
                  </nav>
                </header>
                {% endblock %}

                <div class="container flex flex-col gap-8 px-4 py-20 mx-auto">
                  {% include 'al_uloum/components/breadcrumbs.html' %}

                  <!---->
                  {% block content %}{% endblock %}

                  <!---->
                  {% include 'al_uloum/components/prev_next.html' %}
                </div>

                {% block footer %}{% endblock %}
              </section>
            </section>
          </div>
        </div>
      </section>

      <section id="sidebar" class="drawer-side z-50">
        <label
          for="nav-drawer"
          aria-label="{% trans 'close sidebar' %}"
          class="drawer-overlay"
        ></label>

        <section
          class="bg-base-100/75 md:min-w-xs lg:min-w-sm xl:min-w-md 2xl:min-w-lg dark:bg-base-100/50 flex size-full flex-col justify-between overflow-hidden overflow-y-auto backdrop-blur-3xl sm:w-10/12 md:w-8/12 lg:w-1/3 2xl:w-1/4"
        >
          <div class="grid">
            <div class="grid gap-4 p-4">
              <header class="flex items-center justify-between gap-4">
                {% block drawer_branding %}
                <li
                  class="tooltip-open tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                  data-tip="{% trans 'Arabic Linguistics' %}"
                >
                  <h1 class="relative">
                    <a
                      href="{% pageurl home %}"
                      class="btn btn-lg btn-square btn-primary lg:btn-xl"
                    >
                      <div
                        class="btn btn-lg btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-xl"
                      >
                        <span
                          class="-rotate-45 text-sm font-black lg:text-base"
                        >
                          ٱلْعُلُوٓمْ
                        </span>
                      </div>
                      <span class="sr-only">
                        {% trans 'Linguistics of the Arabic language' %}
                      </span>
                    </a>
                  </h1>
                </li>
                {% endblock %}

                <div
                  class="tooltip tooltip-left tooltip-primary rtl:tooltip-right lg:hidden"
                  data-tip="{% trans 'Close' %}"
                >
                  <label
                    for="nav-drawer"
                    aria-label="{% trans 'close sidebar' %}"
                    class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="x" class="size-4 md:size-6"></i>
                    <span class="sr-only">{% trans 'Close' %}</span>
                  </label>
                </div>
              </header>

              <form
                method="get"
                class="join w-full"
                action="{% url 'al_uloum:search' %}"
              >
                <label
                  class="join-item w-full bg-transparent input input-ghost input-primary"
                >
                  <i
                    data-lucide="search"
                    class="size-4 text-primary md:size-6"
                  ></i>
                  <input
                    required
                    type="search"
                    name="search"
                    class="grow placeholder-primary"
                    placeholder="{% trans 'Search' %}"
                  />
                </label>
              </form>
            </div>

            <ol class="menu 2xl:menu-lg size-full grow gap-2 overflow-y-auto">
              {% block drawer_content %}
              <li>
                <a href="{% pageurl home %}">{% trans 'Home' %}</a>
              </li>

              {% include 'al_uloum/components/tree.html' with nodes=home.get_children %}
              <!---->
              {% endblock %}
            </ol>
          </div>
        </section>
      </section>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
