{% extends 'al_uloum/base.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block content %}
<div
  class="mx-auto prose prose-sm prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-img:rounded-box prose-img:w-full"
>
  <h1>{{ index.title }}</h1>

  {% block description %}{% endblock %}

  <div>{{ index.content }}</div>
</div>

{% block list %}
<ol class="grid grid-cols-12 gap-4">
  {% for page in index.get_children.specific %}
  <li class="relative col-span-12 md:col-span-6 lg:col-span-4 2xl:col-span-3">
    <article
      class="card card-sm bg-base-100 border border-base-300 md:card-md lg:card-lg xl:card-xl hover:bg-base-200"
    >
      <a href="{% pageurl page %}" class="absolute inset-0 z-10">
        <span class="sr-only">{% trans 'Read' %}</span>
      </a>
      <div class="card-body">
        <h2 class="card-title text-primary">{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </div>
    </article>
  </li>
  {% endfor %}
</ol>
{% endblock %}

<!---->
{% endblock %}
